<ion-view view-title="" hide-nav-bar="false" class="home-page">
    <div class="bar bar-subheader bar-assertive" style="height: 100px;">
        <div class="col col-80">
            <h2 class="page-name">Book your flight</h2>
            
        </div>
    </div>
    
	<ion-content style="top:130px;">
        
        <ion-refresher pulling-text="Pull to refresh" on-refresh="updateApp('en')">
        </ion-refresher>
        
        <ion-list>
            <div class="item item-input-inset" ng-form="settingsQFFNo">
                <label class="item-input-wrapper">
                    <input type="number" ng-model="settings.QFFNo" placeholder="Please enter your Qantas Frequent Flyer number">
                </label>
                <button id="saveFirebaseURL" ng-click="saveQFFNo(settings)" ng-disabled="settingsQFFNo.$invalid" class="button button-small">
                    Submit
                </button>
            </div>
        </ion-list>
        
        <h1>Your profile</h1>
        
        <div class="list">

            <a class="item item-avatar" href="#">
                <img src="../../../../img/qantas-points-icon.png">
                <h2>Qantas Points</h2>
                <p>179,225</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Qantas Points</h2>
                <p>179,225</p>
            </a>

        </div>
        
        <h1>Your next trip</h1>
        
        <div class="list">

            <a class="item item-avatar" href="#">
                <img src="../../../../img/qantas-points-icon.png">
                <h2>ADD TRIP</h2>
            </a>

            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>BOOK FLIGHT</h2>
            </a>

        </div>
        
		<div class="text-center page-top placeholder">
            <div class="row">
                <div class="col-50" style="height:150px; text-align:center; top: 50%; vertical-align: middle;">Book flight</div>
                <div class="col-50">Book hotel</div>
            </div>
            <div class="row">
                <div class="col-50" style="height:150px; text-align:center; top: 50%; vertical-align: middle;">Book car</div>
                <div class="col-50">Book transfer</div>
            </div>
            <div class="row">
                <div class="col-50" style="height:150px; text-align:center; top: 50%; vertical-align: middle;">Book activities</div>
                <div class="col-50"></div>
            </div>
			<h3>This is a placeholder template and will be replaced by content authored in AEM.</h3>
		</div>
 	</ion-content>
</ion-view>